<!DOCTYPE html>
<html lang="en">
<title>FairTest</title>
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{url_for('static', filename='fairtest/static/css/bootstrap.css')}}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{url_for('static', filename='fairtest/static/css/bootstrap.css')}}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">FairTest</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#datasets">Datasets</a></li>
              <li><a href="#reports">Bug Reports</a></li>
              <li><a href="#experiments">Post Experiment</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <h2> Discovering Unwarranted Associations in Data-driven Applications with FairTest</h2>
      <hr/>
    </div> <!-- /container -->

    <br/><br/>
  <section id='datasets'>
  <div class="container">
    <div class="header">
      <h4 class="text-muted">Available Datasets</h4>
      <ul>
      {%- for item in tree1.children recursive %}
      <li><a href="{{ datasets_folder }}/{{ item.name }}">{{item.name}}</a> {{item.metadata}}
      {%- endfor %}
      </ul>
    </div>

    <br/><br/>

    <div class="header">
      <h4 class="text-muted">Upload Dataset</h4>
    </div>
    <hr/>

    <div>
      <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file>
       <input type=submit value=Upload>
      </form>
    </div>
  </div>

  <br/><br/>

  <section id='experiments'>
  <div class="container">
    <div class="header">
      <h4 class="text-muted">Post Experiment</h4>
    </div>
    <hr/>
    <div>
      <form action="" method=post enctype=multipart/form-data>
        <h5 class="text-muted">*Dataset:</h5><input type=field name=dataset><br /><br />
        <h5 class="text-muted">*Sensitive Feature:</h5><input type=field name=sens><br /><br />
        <h5 class="text-muted">Explanatory Features:</h5><input type=field name=expl><br /><br />
        <h5 class="text-muted">*Output Feature:</h5><input type=field name=out><br /><br />
        <h5 class="text-muted">Investigation Type:</h5><input type=field name=inv><br /><br />
        <input type=submit value=Post>
      </form>
    </div>

    <br/><br/>

    <section id='reports'>
    <div class="header">
      <h4 class="text-muted">Fairtest Bug Reports</h4>
      <hr/>
      <ul>
        {%- for item in tree2.children recursive %}
          <li><a href="{{ experiments_folder }}/{{ item.name }}">{{item.name}}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>

  <br/><br />

  </body>
</html>
